.titleProperties{
  font-family: "Berlin Sans FB";
  font-size: 30px;
  border-bottom: 1px solid black;
}

.carrito{
  background-color: darkgrey;
  width: 400px;
  height: 600px;
  margin-right: 30px;
  justify-content: center;
  text-align: center;
}

.productsProperties{
  font-size: 22px;
}
