.offerPropertie{
    background-color: olivedrab;
}

.sinStockPorperties{
  background-color: orange;
}

#buttonProperties{
  display: flex;
  margin-top: 10px;
}

.containerTable{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 200px;
  gap: 100px;
}
