#inputProperties, #inputProperties1, #inputProperties2, #inputProperties3{
  margin-left: 30px;
  width: 150px;
}

#inputProperties4{
  margin-left: 30px;
  width: fit-content;
}

.tableProperties{
  display: flex;
  flex-direction: row;
  justify-self: center;
}

#buttonProperties{
  height: 50px;
  width: 100px;
  margin-left: 50px;
  margin-top: 10px;
  cursor: pointer;
}

